/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* Fonts */
@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-light-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

/* Top Level*/
body {
    font-size: 1rem;
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;
    grid-template-rows: auto 1fr 125px;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Header Style */
.header {
    display: grid;
    grid-template-rows: repeat(4, auto);
    place-content: center;
    gap: 4px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.header-container > .location {
    font-size: 1.5rem;
}

.header-container > .head-temp {
    font-size: 3.5rem;
    font-weight: 200;
}

.header .head-hi-low {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 11px;
    margin-right: 16px;
    width: 100%;
}

.unit-switch {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-right: 25px;
    width: 100%;
}

input[type="radio"] {
    appearance: none;
    opacity: 0.25;
    cursor: pointer;
}

input[type="radio"]:checked {
    opacity: 1;
}

#switch-to-F {
    padding-right: 5px;
}

#switch-to-F::before {
    content: "°F";
}

#switch-to-C::before {
    content: "°C";
}

.data-tiles {
    display: grid;
    grid-template: repeat(4, 1fr) / 2.5fr repeat(4, 1fr);
    grid-template-areas: 
                        'hours hours hours hours hours'
                        'forecast feels-like wind wind visibility'
                        'forecast uv-index precipitation humidity pressure'
                        'forecast sunrise sunset moon moon';
    gap: 16px;
    margin-inline: auto;

    max-height: max(65vh, 850px);
    max-width: max(65vw, 880px);
}

.data-tiles > * {
    border: 1px solid black;
    border-radius: 11px;
    padding: 13px 16px;
}

/* Hourly Forecast Section */
.hours {
    grid-area: hours;

    padding-bottom: 0;
}

.hours > div {
    display: grid;
    grid-template-rows: auto, 1fr;
    gap: 8px;
}

.hourly-data-container {
    display: flex;
    gap: 25px;

    overflow-x: auto;
}

.hour-data {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    padding: 11px;
    padding-left: 0;

    font-size: 0.8rem;
    font-weight: 800;
}

.hour-time {
    display: flex;
    align-items: flex-end;
}

.hour-time > div:first-child {
    line-height: normal;
}

.hour-time > div:last-child {
    font-size: 0.65rem;
    align-self: flex-end;
}

.hour-temp {
    font-size: 1rem;
}

.data-heading {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 0.65rem;
    font-weight: 800;
    letter-spacing: 1.25px;
}

.data-heading > img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

/* Daily Forecast Section */
.days {
    grid-area: forecast;

    padding-right: 0;
}

.days > div {
    display: grid;
    grid-template-rows: auto, 1fr;
    gap: 25px;
}

.daily-data-container {
    display: grid;
    gap: 16px;

    overflow-y: auto;
    height: calc(1.5 * 2em * 11);

    padding-right: 16px;
}

.daily-data-container > .h-line {
    width: 100%;
    height: 1px;
    background-color: rgb(196, 196, 196);
}

.day-data {
    display: grid;
    grid-template-columns: 0.3fr auto 1fr;
    gap: 5px;
    font-weight: 800;
}

.day-icon {
    margin-right: 16px;
}

.temp-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
}

/* Linear Gradients and Marker Setup */
.temp-gradient, .uv-gradient {
    height: 5px;
    border-radius: 11px;

    position: relative;
}

.temp-gradient-marker, .uv-gradient-marker {
    position: absolute;

    height: inherit;
    aspect-ratio: 1 / 0.65;
    border-radius: 11px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 0%);
}

/* Feels-Like Section */
.feels-like {
    grid-area: feels-like;

    aspect-ratio: 1 / 1;
}

.feels-like > div {
    display: grid;
    gap: 11px;
}

.temp-feels-like {
    font-size: 2.5rem;
}

.winds {
    grid-area: wind;
}

.visibility {
    grid-area: visibility;
}

.uv-index {
    grid-area: uv-index;
}

.precipitation {
    grid-area: precipitation;
}

.humidity {
    grid-area: humidity;
}

.pressure {
    grid-area: pressure;
}

.sunrise {
    grid-area: sunrise;
}

.sunset {
    grid-area: sunset;
}

.moon {
    grid-area: moon;
}

/* Icons */
.day-icon, .hour-icon {
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

.day-icon.clear-day, .hour-icon.clear-day {
    background-color: hsl(51, 100%, 50%);
    mask-image: url("./assets/icons/clear-day.svg");
}
.day-icon.clear-night, .hour-icon.clear-night {
    background-image: url("./assets/icons/clear-night.svg");
}
.cloudy {
    background-image: url("./assets/icons/cloudy.svg");
}
.fog {
    background-image: url("./assets/icons/fog.svg");
}
.hail {
    background-image: url("./assets/icons/hail.svg");
}
.partly-cloudy-day {
    background-image: url("./assets/icons/partly-cloudy-day.svg");
}
.partly-cloudy-night {
    background-image: url("./assets/icons/partly-cloudy-night.svg");
}
.rain-snow-showers-day {
    background-image: url("./assets/icons/rain-snow-showers-day.svg");
}
.rain-snow-showers-night {
    background-image: url("./assets/icons/rain-snow-showers-night.svg");
}
.rain-snow {
    background-image: url("./assets/icons/rain-snow.svg");
}
.rain {
    background-image: url("./assets/icons/rain.svg");
}
.showers-day {
    background-image: url("./assets/icons/showers-day.svg");
}
.showers-night {
    background-image: url("./assets/icons/showers-night.svg");
}
.sleet {
    background-image: url("./assets/icons/sleet.svg");
}
.snow-showers-day {
    background-image: url("./assets/icons/snow-showers-day.svg");
}
.snow-showers-night {
    background-image: url("./assets/icons/snow-showers-night.svg");
}
.snow {
    background-image: url("./assets/icons/snow.svg");
}
.thunder-rain {
    background-image: url("./assets/icons/thunder-rain.svg");
}
.thunder-showers-day {
    background-image: url("./assets/icons/thunder-showers-day.svg");
}
.thunder-showers-night {
    background-image: url("./assets/icons/thunder-showers-night.svg");
}
.thunder {
    background-image: url("./assets/icons/thunder.svg");
}
.day-icon.wind, .hour-icon.wind {
    background-image: url("./assets/icons/wind.svg");
}