/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* Top Level*/
body {
    font-size: 1.2rem;

    display: grid;
    grid-template: auto 1fr 125px / 1fr;

    min-height: 98vh;
    min-height: 100dvh;
    background-color: aliceblue;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Header Style */
.header {
    display: grid;
    grid-template-rows: repeat(4, auto);
    place-content: center;
    gap: 4px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container > .location {
    font-size: 1.5rem;
}

.header-container > .head-temp {
    font-size: 3rem;
}

.header .head-hi-low {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 11px;
    margin-right: 16px;
    width: 100%;
}

.unit-switch {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-right: 25px;
    width: 100%;
}

input[type="radio"] {
    appearance: none;
    opacity: 0.25;
    cursor: pointer;
}

input[type="radio"]:checked {
    opacity: 1;
}

#switch-to-F {
    padding-right: 5px;
}

#switch-to-F::before {
    content: "°F";
}

#switch-to-C::before {
    content: "°C";
}